@-moz-document url-prefix() {
  #talent > .el-scrollbar .el-scrollbar__wrap {
    padding: 0 28px 0 0;
    overflow-y: scroll;
    width: 102%;
  }

  .diy-drawer .el-scrollbar__wrap {
    padding: 0 20px 0 0;
    overflow-y: scroll;
    width: 102%;
  }
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .el-drawer__body {
  overflow: hidden;
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .el-scrollbar {
  margin: 0;
  height: 100%;
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .operating-box {
  margin: 30px 0 0 0;
}

_::-webkit-full-page-media, _:future, :root .my-okr .operating-panel .tl-select {
  width: 189px;
}