@-moz-document url-prefix() {
  #talent > .el-scrollbar .el-scrollbar__wrap {
    padding: 0 28px 0 0;
    overflow-y: scroll;
    width: 102%;
  }

  .diy-drawer .el-scrollbar__wrap {
    padding: 0 20px 0 0;
    overflow-y: scroll;
    width: 102%;
  }
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .el-drawer__body {
  overflow: hidden;
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .el-scrollbar,.create-okr .el-drawer__body > .el-scrollbar {
  margin: 0;
  height: 100%;
}

_::-webkit-full-page-media, _:future, :root .associated-undertaking .operating-box,
.create-okr .operating-box {
  margin: 30px 0 0 0;
}

_::-webkit-full-page-media, _:future, :root .my-okr .operating-panel .tl-select {
  width: 189px;
}

@media screen and (min-width:1367px) {
  .card-panel-body .tl-table .el-table__row td:nth-child(2) .cell {
    left: -28px;
  }

  .tl-table .sub-tr::after {
    position: absolute;
    left: 99px;
    top: 0;
    bottom: 0;
    content: '';
    width: 12px;
    background: #fff;
    z-index: 5;
  }

  .tl-table .sub-tr .okr-line::before {
    right: -20px;
  }

  .tl-table .sub-tr .okr-line::after {
    right: -20px;
  }

  .tl-table .sub-tr .okr-kr-name {
    padding: 0 0 0 32px;
  }
}

@media screen and (min-width:1921px) {
  .card-panel-body .tl-table .el-table__row td:nth-child(2) .cell {
    left: -60px;
  }

  .tl-table .sub-tr::after {
    position: absolute;
    left: 99px;
    top: 0;
    bottom: 0;
    content: '';
    width: 12px;
    background: #fff;
    z-index: 5;
  }

  .tl-table .sub-tr .okr-line::before {
    right: 12px;
  }

  .tl-table .sub-tr .okr-line::after {
    right: 0;
  }

  .tl-table .sub-tr .okr-kr-name {
    padding: 0;
  }
}