/* 整体框架布局 */
.console-layout,
.login-layout,
.admin-layout,
.settings-layout,
.demo,
.view-cont {
  height: 100%;
}

.el-scrollbar .el-scrollbar__view:first-child {
  display: flex;
  flex-direction: column;
}

/* Header */
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 26;
}

.area-left {
  display: flex;
  align-items: center;
}

/* 主区域 */
.main-wrap {
  flex: 1 1 auto;
  display: flex;
  background: #f7fafc;
}

.menu-cont-inside {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 24;
}

.view-cont {
  position: relative;
  z-index: 21;
  flex: 1 1 auto;
  margin: 16px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 102px);
  min-height: calc(100vh - 102px);
}

.el-popup-parent--hidden .view-cont {
  z-index: 23 !important;
}

/* 内容容器 */
.cont-wrap {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.box-wrap {
  margin: 0 auto;
}

.cont-area {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cont-area .operating-box .el-button {
  min-width: 90px;
  height: 40px;
}

.operating-panel {
  display: flex;
  align-items: center;
}

.operating-box {
  display: flex;
  justify-content: flex-end;
}

.operating-area .operating-box {
  flex: 1;
}

.operating-box .flex-auto {
  flex: 1;
}

.operating-area .operating-box .flex-auto {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dl-item {
  margin: 0 60px 0 0;
  display: flex;
  align-items: center;
}

.dl-item + .dl-item:last-child {
  margin: 0;
}

i + em,
i + span,
i + span + em,
span + em + em:last-of-type,
i + span + em + i {
  margin: 0 0 0 6px;
}