/* ==================================================================Element 重置样式=============================================================================== */
/* 滚动条 */
.el-scrollbar__bar {
  z-index: 50;
}

/* 按钮 */
.tl-btn {
  position: relative;
  padding: 0 20px;
  width: auto;
  min-width: 76px;
  height: 40px;
  border-radius: 0;
  overflow: hidden;
  display: unset;
  line-height: unset;
  transition: unset;
  border: unset;
  z-index: 1;
}

.tl-btn.el-button--primary {
  background: #409eff;
}

.tl-btn.el-button--primary:focus,
.tl-btn.el-button--primary:hover {
  background: #409eff;
}

.tl-btn.is-plain {
  position: relative;
  overflow: hidden;
  color: #56c5ff;
}

.tl-btn.is-plain::before,
.tl-btn.is-plain .lines::before,
.tl-btn.is-plain::after,
.tl-btn.is-plain .lines::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #56c5ff;
}

.tl-btn.is-plain::before {
  bottom: 0;
  top: auto;
}

.tl-btn.is-plain .lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.tl-btn.is-plain .lines::before,
.tl-btn.is-plain .lines::after {
  height: 100%;
  width: 2px;
}

.tl-btn.is-plain .lines::after {
  left: auto;
  right: 0;
}

.tl-btn.el-button.is-plain:active,
.tl-btn.el-button.is-plain:focus,
.tl-btn.el-button.is-plain:hover {
  color: #56c5ff;
}

/* input */
.tl-input-line {
  z-index: 3;
}

.tl-input-line .el-input__inner {
  padding: 0 24px 0 0;
  background: transparent;
  line-height: unset;
  border: unset;
  border-radius: unset;
}

.tl-input-line::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #685df1;
  transform: translateX(-50%) scaleX(0);
  transition: all .4s ease-out;
  z-index: 5;
}

.tl-input-line::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  z-index: 1;
}

/* ==========================================================常用基础组件=================================================================== */
/* 提示文案组件 */
.text-tip,
.text-tip::before,
.text-tip::after,
.text-tip p::after {
  position: absolute;
}

/* ========================================================公共页面布局组件================================================================== */
/* Header */
.header-wrap {
  height: 70px;
  background: #fff;
}

.header-wrap::after {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  background: #e5e9ee;
  z-index: -1;
}

.logo-bg {
  width: 70px;
  height: 70px;
  background: #162565;
  text-align: center;
  line-height: 70px;
}

.logo {
  font-size: 24px;
  color: #fff;
}

/* 主内容区--左侧菜单 */
.main-wrap {
  margin-top: 70px;
}

.menu-cont {
  width: 90px;
  transition: all .4s ease-out;
}

.menu-cont.no-sub-menu {
  width: 70px;
}

.menu-cont.is-sub-menu {
  width: 248px;
}

.menu-cont.is-shrink {
  width: 90px;
}

.menu-cont-inside {
  top: 70px;
  width: 90px;
  transition: all .4s ease-out;
}

/* .no-sub-menu .menu-cont-inside {
  width: 70px;
}

.is-sub-menu .menu-cont-inside {
  width: 248px;
} */

.menu-cont-inside .management-platform,
.menu-cont-inside .main-menu > ul {
  display: flex;
  flex-direction: column;
  background: #162565;
}

.menu-cont-inside > ul {
  width: 70px;
}

.menu-cont-inside li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  /* cursor: pointer; */
  /* background: #162565;
  transition: all 8s ease-out; */
}

.menu-cont-inside .text-tip {
  padding: 10px;
  right: -43%;
  top: 50%;
  transform: translateX(90%) translateY(-50%);
  width: 80px;
  background: #fff;
  border: 1px solid #e5e9ee;
  border-radius: 3px;
  opacity: 0;
  transition: all .4s ease-out;
}

.menu-cont-inside .main-menu .is-hover .text-tip {
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

.menu-cont-inside .text-tip::before {
  left: -7px;
  top: 50%;
  content: '';
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 23px solid #e5e9ee;
  border-bottom: 10px solid transparent;
  border-radius: 5px 30px 15px 15px;
  transform: rotate(40deg);
  z-index: -3;
}

.menu-cont-inside .text-tip::after {
  left: -6px;
  top: 50%;
  content: '';
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 23px solid #fff;
  border-bottom: 10px solid transparent;
  border-radius: 5px 30px 15px 15px;
  transform: rotate(40deg);
  z-index: -2;
}

.menu-cont-inside .text-tip p::after {
  left: -5px;
  top: 55%;
  content: '';
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 21px solid #fff;
  border-bottom: 10px solid transparent;
  border-radius: 5px 30px 15px 15px;
  transform: rotate(60deg);
  z-index: -1;
}

.menu-cont-inside li i {
  width: 24px;
  height: 24px;
  background: url('~@/assets/images/workbench.png') center no-repeat;
  background-size: 24px 24px;
}

.main-menu {
  position: relative;
  width: 90px;
}

.is-shrink .main-menu {
  width: 70px;
}

/* .main-menu li,
.management-platform li {
  background: linear-gradient(#162565, #162565);
  transition: all 8s ease-out;
} */

.main-menu .is-active {
  background: linear-gradient(#ffbc20, #d66d2c);
}

.no-sub-menu .main-menu {
  width: 70px;
}

.main-menu > ul {
  padding: 10px 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: calc(100vh - 70px);
}

.menu-cont-inside .main-menu i {
  width: 100%;
  height: 100%;
}

.main-menu .sub-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 248px;
  height: calc(100vh - 70px);
  background: #fff;
  z-index: -1;
  transform: translateX(-178px);
  transition: all .4s ease-out;
}

.is-sub-menu .main-menu .sub-menu {
  transform: translateX(0);
}

.is-shrink .main-menu .sub-menu {
  transform: translateX(-158px);
}

.main-menu .sub-menu::after {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 1px;
  background: #e8ecf0;
}

.main-menu .sub-menu dl {
  padding: 10px 20px 20px 80px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: all .4s ease-out;
}

.main-menu .sub-menu dl.is-focus {
  z-index: 2;
  opacity: 1;
}

.main-menu .sub-menu dt,
.main-menu .sub-menu dd {
  display: flex;
  align-items: center;
  height: 36px;
  background: #fff;
}

.main-menu .sub-menu dt {
  margin: 0 0 10px 10px;
  color: #b5bec6;
  font-size: 18px;
}

.main-menu .sub-menu dd {
  padding: 0 0 0 10px;
}

.main-menu .sub-menu dd i {
  margin: 0 6px 0 0;
  width: 24px;
  height: 24px;
  background: #eee;
}

.main-menu .sub-menu dd.is-active {
  background: rgba(94,59,255,.04);
}

.is-sub-menu .main-menu .sub-menu dl {
  transform: translateX(-178px);
}

.is-sub-menu.is-shrink .main-menu .sub-menu dl {
  transform: translateX(0);

}

.is-sub-menu .main-menu .sub-menu .is-focus {
  transform: translateX(0);
  z-index: 2;
}

.main-menu .sub-menu span {
  display: block;
  cursor: pointer;
}

.main-menu .sub-menu em {
  display: block;
  color: #929ba3;
  opacity: 0;
}

.main-menu .sub-menu .is-active em {
  color: #685df1;
}

.is-sub-menu .main-menu .sub-menu em {
  opacity: 1;
}

.main-menu .sub-menu dl dd:nth-child(1) em {
  transition-delay: .08s;
}

.main-menu .sub-menu dl dd:nth-child(2) em {
  transition-delay: .16s;
}

.main-menu .sub-menu dl dd:nth-child(3) em {
  transition-delay: .24s;
}

.main-menu .sub-menu dl dd:nth-child(4) em {
  transition-delay: .32s;
}

.main-menu .sub-menu dl dd:nth-child(5) em {
  transition-delay: .40s;
}

.main-menu .sub-menu dl dd:nth-child(6) em {
  transition-delay: .48s;
}

.main-menu .sub-menu span {
  transform: perspective(100px) translateZ(-24px);
}

.main-menu .sub-menu em {
  transform: perspective(100px) rotateY(180deg) translateZ(24px) scale(0.5);
}

.is-sub-menu .main-menu .sub-menu em {
  transform: perspective(100px) rotateY(0) translateZ(24px) scale(1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-shrink .main-menu .sub-menu em,
.is-sub-menu .main-menu .sub-menu dl:not(.is-focus) em {
  transform: perspective(100px) rotateY(180deg) translateZ(24px) scale(0.5);
  opacity: 0;
}


.menu-control-button {
  position: absolute;
  right: -12px;
  top: 12px;
  z-index: 21;
  width: 24px;
  height: 24px;
  background: url('~@/assets/images/return-menu.png') #fff center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  transform: translateX(-168px);
  transform: rotate(0);
  transition: all .4s ease-out;
}

.no-sub-menu .menu-control-button {
  transform: translateX(-20px);
}

.is-sub-menu .menu-control-button {
  transform: translateX(0);
}

.is-shrink .menu-control-button {
  transform: rotate(-180deg);
}

.management-platform {
  position: absolute;
  bottom: 0;
  left: 0;
}


/* 主内容区--路由区 */