/* ==================================================================Element 重置样式=============================================================================== */
/* 滚动条 */
.el-scrollbar__bar {
  z-index: 50;
}

/* 按钮 */
.tl-btn {
  position: relative;
  padding: 0 20px;
  width: auto;
  min-width: 76px;
  height: 40px;
  border-radius: 0;
  overflow: hidden;
  display: unset;
  line-height: unset;
  transition: unset;
  border: unset;
  z-index: 1;
}

.tl-btn.el-button--primary {
  background: #409eff;
}

.tl-btn.el-button--primary:focus,
.tl-btn.el-button--primary:hover {
  background: #409eff;
}

.tl-btn.is-plain {
  position: relative;
  overflow: hidden;
  color: #56c5ff;
}

.tl-btn.is-plain::before,
.tl-btn.is-plain .lines::before,
.tl-btn.is-plain::after,
.tl-btn.is-plain .lines::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #56c5ff;
}

.tl-btn.is-plain::before {
  bottom: 0;
  top: auto;
}

.tl-btn.is-plain .lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.tl-btn.is-plain .lines::before,
.tl-btn.is-plain .lines::after {
  height: 100%;
  width: 2px;
}

.tl-btn.is-plain .lines::after {
  left: auto;
  right: 0;
}

.tl-btn.el-button.is-plain:active,
.tl-btn.el-button.is-plain:focus,
.tl-btn.el-button.is-plain:hover {
  color: #56c5ff;
}

/* input */
.tl-input-line {
  z-index: 3;
}

.tl-input-line .el-input__inner {
  padding: 0 24px 0 0;
  background: transparent;
  line-height: unset;
  border: unset;
  border-radius: unset;
}

.tl-input-line::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #685df1;
  transform: translateX(-50%) scaleX(0);
  transition: all .4s ease-out;
  z-index: 5;
}

.tl-input-line::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  z-index: 1;
}

/* ========================================================页面布局组件================================================================== */
.header-wrap {
  height: 70px;
  background: #fff;
}

.header-wrap::after {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  background: #e5e9ee;
  z-index: -1;
}

.logo-bg {
  width: 70px;
  height: 70px;
  background: #162565;
  text-align: center;
  line-height: 70px;
}

.logo {
  font-size: 24px;
  color: #fff;
}

.main-wrap {
  margin-top: 70px;
}

.menu-cont {
  width: 90px;
  transition: all .3s ease-out;
}

.menu-cont.is-sub-menu {
  width: 248px;
}

.no-sub-menu {
  width: 70px;
}

.no-sub-menu .main-menu .sub-menu {
  width: 0;
}

.is-sub-menu .main-menu .sub-menu {
  width: 248px;
}

.menu-cont-inside {
  top: 70px;
  width: 90px;
  transition: all .3s ease-out;
}

.is-sub-menu .menu-cont-inside {
  width: 248px;
}

.menu-cont-inside ul {
  display: flex;
  flex-direction: column;
  background: #162565;
}

.menu-cont-inside > ul {
  width: 70px;
}

.main-menu > ul {
  width: 70px;
  height: calc(100vh - 70px);
}

.menu-cont-inside li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  cursor: pointer;
}

.menu-cont-inside li i {
  width: 24px;
  height: 24px;
  background: url('~@/assets/images/workbench.png') center no-repeat;
  background-size: 24px 24px;
}

.menu-cont-inside ul:first-of-type li {
  color: #fff;
}

.main-menu {
  position: relative;
  width: 90px;
}

.main-menu .sub-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: calc(100vh - 70px);
  background: #f40;
  z-index: -1;
  transition: all .3s ease-out;
}

.sub-menu ul {
  margin-left: 100px;
}

.main-menu .sub-menu::after {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 1px;
  background: #000;
}

.no-sub-menu .menu-cont-inside,
.no-sub-menu .main-menu {
  width: 70px;
}

.management-platform {
  position: absolute;
  bottom: 0;
  left: 0;
}
