/* ======================================================================登录模块======================================================================= */
/* 登录首页 */
.login {
  display: flex;
  align-items: center;
}

.login .cont-wrap {
  width: 950px;
}

.login-inset {
  position: relative;
  flex: 0 0 550px;
  width: 550px;
  height: 560px;
}

.login-inset-inside {
  padding: 40px 40px;
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 570px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 16px 30px 0 rgba(0,14,66,0.10);
  z-index: -1;
}

.login-info {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 600px;
  background: #fff;
  box-shadow: 0 16px 30px 0 rgba(0,14,66,0.10);
  border-radius: 4px;
}

.login-info .box-wrap {
  width: 230px;
}

.login-info-title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  color: #685df1;
}

.login-info-title em {
  margin-right: 6px;
}

.login-info dd {
  margin-top: 30px;
}

.login-info dd:last-child {
  margin-top: 16px;
}

.tl-input-account,
.tl-input-pwd {
  position: relative;
}

.login-info .prompt-info {
  position: absolute;
  left: 0;
  top: 10px;
  width: auto;
  height: 20px;
  color: #333;
  z-index: 1;
  transform: translateY(0);
  opacity: 0;
  transition: all .3s ease-out;
}

.login-info .remove-current {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
  width: 20px;
  height: 20px;
  transform: translateX(25px);
  opacity: 0;
  transition: all .3s ease-out;
}

.login-info .remove-current {
  background: url('~@/assets/images/remove-current.png') no-repeat;
  background-size: 20px 20px;
}

.login-info .error-msg {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  color: #f75958;
  z-index: 2;
  opacity: 0;
  transform: translateY(0);
  transition: all .3s ease-out;
}

.login-info .tl-btn.el-button--primary {
  width: 100%;
  background: #685df1;
  border-radius: 4px;
}

.login-info .tl-btn.el-button--primary::after {
  background: #5c50e9;
}

.login-info .tl-btn em {
  margin: 0 5px;
}