/* ======================================================================登录模块======================================================================= */
/* 登录首页 */
.login.view-cont {
  height: calc(100% - 32px);
}

.login {
  display: flex;
  justify-content: center;
}

.login .cont-wrap {
  width: 950px;
}

.login-inset {
  position: relative;
  flex: 0 0 550px;
  width: 550px;
  height: 560px;
}

.login-inset-inside {
  padding: 40px 40px;
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 570px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 16px 30px 0 rgba(0,14,66,0.10);
  z-index: -1;
}

.login-info {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 600px;
  background: #fff;
  box-shadow: 0 16px 30px 0 rgba(0,14,66,0.10);
  border-radius: 4px;
}

.login-info .box-wrap {
  width: 230px;
}

.login-info-title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  color: #685df1;
}

.login-info-title em {
  margin-right: 6px;
}

.login-info dd {
  margin-top: 30px;
}

.login-info dd:last-child {
  margin-top: 16px;
}

.tl-input-account,
.tl-input-pwd {
  position: relative;
}

.login-info .prompt-info {
  position: absolute;
  left: 0;
  top: 10px;
  width: auto;
  height: 20px;
  color: #333;
  z-index: 1;
  transform: translateY(0);
  opacity: 0;
  transition: all .3s ease-out;
}

.login-info .remove-current {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
  width: 20px;
  height: 20px;
  transform: translateX(25px);
  opacity: 0;
  transition: all .3s ease-out;
}

.login-info .remove-current {
  background: url('~@/assets/images/remove-current.png') no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}

.login-info .error-msg {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  color: #f75958;
  z-index: 2;
  opacity: 0;
  transform: translateY(0);
  transition: all .3s ease-out;
}

.login-info .tl-btn.el-button--primary {
  width: 100%;
  height: 40px;
  background: #685df1;
  border-radius: 4px;
}

.login-info .tl-btn.el-button--primary::after {
  background: #5c50e9;
}

.login-info .tl-btn em {
  margin: 0 5px;
}

/* ==========================================================OKR管理================================================================== */
.my-okr {
  padding: 50px 0 0 0;
}

.is-shrink + .my-okr {
  z-index: 21;
}

.my-okr .operating-area {
  position: fixed;
  top: 70px;
  left: 90px;
  right: 0;
  background: #fff;
  height: 50px;
}

.my-okr .operating-area-inside {
  padding: 0 30px 0 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  transition: all .4s ease-out;
}

.no-sub-menu + .my-okr .operating-area {
  left: 70px;
}

.is-shrink + .my-okr .operating-area .operating-area-inside {
  padding: 0 30px 0 46px;
}

.my-okr .operating-area-inside::before {
  position: absolute;
  left: -30px;
  content: '';
  height: 50px;
  width: 30px;
  background: #fff;
}

.my-okr .cont-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-okr .cont-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.my-okr .operating-panel .tl-select {
  max-width: 196px;
}

.card-panel-head .okr-title {
  font-size: 18px;
  font-weight: 500;
  color: #26282b;
}

.my-okr .card-panel-head {
  padding: 0 0 10px 0;
}

.my-okr .card-panel-head .update-time {
  position: absolute;
  left: 0;
  top: 60px;
}

.my-okr .card-panel-head .update-time em {
  color: #bcc4cc;
  font-size: 12px;

}

.my-okr .card-panel-head .okr-change,
.my-okr .card-panel-head .okr-delete {
  cursor: pointer;
}

.my-okr .card-panel-head dt em,
.my-okr .card-panel-head dt i {
  transition: all .4s ease-out;
}

.my-okr .card-panel-head .okr-change:hover em,
.my-okr .card-panel-head .okr-change:hover i,
.my-okr .card-panel-head .okr-delete:hover em,
.my-okr .card-panel-head .okr-delete:hover i {
  color: #685df1;
}

.department-okr .pannel-title em,
.department-okr .pannel-title span {
  position: relative;
  color: #26282a;
  font-size: 12px;
  font-weight: 500;
}

.department-okr .pannel-title span {
  margin: 0 0 0 6px;
  padding: 0 6px 0;
}

.department-okr .pannel-title span::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #26282a;
  transform: translateX(-50%) translateY(-50%);
}

.department-okr .tl-card-panel:last-child {
  padding: 10px 0 20px 0;
}

.department-okr .tl-card-panel:last-child .card-panel-head {
  padding: 10px 30px;
}

.department-okr .img-list dl {
  margin: 0 12px 10px 14px;
}


/* 创建okr */
.create-okr .create-okr {
  padding: 0 30px 0 0;
}

.create-okr .el-drawer__body > .el-scrollbar {
  margin: 0 0 30px 0;
}

.create-okr .el-drawer__body,
.okr-detail .el-drawer__body {
  margin: 10px 0 0 0;
  width: 850px;
}

.associated-undertaking .el-drawer__body {
  margin: 10px 0 0 0;
  width: 620px;
}

.create-okr .allocation-info {
  margin: 0 0 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f6f8;
}

.create-okr .allocation-info dl {
  display: flex;
  align-items: center;
}

.create-okr .allocation-info dt {
  margin: 0 10px 0 0;
  color: #acb6bf;
}

.create-okr .allocation-info dd {
  margin: 0 10px 0 0;
  color: #4d5155;
}

.create-okr .allocation-info dd:last-child {
  margin: 0;
}

.tl-drawer .create-okr .el-drawer__body {
  overflow: hidden;
}

.create-okr .el-scrollbar {
  height: 100%;
}

.create-okr .timeline-list dt {
  display: flex;
}

.create-okr .timeline-list .list-info {
  flex: 1;
}

.create-okr .timeline-list .icon-clear {
  margin: 40px 0 0 20px;
  color: #bcc4cc;
  transition: all .3s ease-out;
}

.create-okr .timeline-list .icon-clear:hover {
  color: #685df1;
  background: #f0effe;
}

.create-okr .timeline-list dd {
  display: flex;
}

.create-okr .timeline-list .item-group {
  display: flex;
  justify-content: space-between;
}

.create-okr .timeline-list .item-group .el-form-item {
  flex: 0 0 26%;
}

.create-okr .timeline-list .item-group .el-form-item:last-child {
  flex: 1 1 auto;
  justify-content: flex-end;
}

.create-okr .timeline-list .tl-input-number {
  margin: 0 10px 0 0;
}

.create-okr .timeline-list .item-group .tl-btn {
  height: 30px;
}

.create-okr .timeline-list .list-title,
.create-okr .timeline-list .el-form-item__label {
  color: #4d5155;
}

.create-okr .list-add {
  width: 100%;
}

.associated-undertaking .el-scrollbar {
  margin: 0 0 30px 0;
}

.associated-undertaking .dl-list {
  margin: 0 0 30px 0;
  padding: 0 20px 0 0;
}

.associated-undertaking .dl-list .list-title {
  display: flex;
  align-items: center;
  color: #4d5155;
}

.associated-undertaking .dl-list .list-title em {
  font-weight: 500;
}

.associated-undertaking .dl-list .list-title span {
  margin: 0 0 0 10px;
  color: #acb6bf;
}

.associated-undertaking .dl-list .list-title::before {
  margin: 0 6px 0 0;
  content: '';
  width: 3px;
  height: 12px;
  background: #685df1;
}

.associated-undertaking .dl-list .el-radio-group {
  display: flex;
  flex-direction: column;
}

.associated-undertaking .dl-list .el-radio {
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed transparent;
  background: linear-gradient(#fff,#fff) padding-box,
  repeating-linear-gradient(-45deg,#e5e9ee 0, #e5e9ee 0.4em,#fff 0,#fff 0.6em);
}

.associated-undertaking .dl-list .el-radio__label {
  display: flex;
  align-items: center;
}

.associated-undertaking .dl-list .kind-o,
.associated-undertaking .dl-list .kind-k {
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
  padding: 0 5px;
  height: 18px;
  border-radius: 2px;
  font-size: 12px;
}

.associated-undertaking .dl-list .kind-o {
  background: #f0effe;
  color: #685df1;
}

.associated-undertaking .dl-list .kind-k {
  padding: 0 11px;
  background: #acb6bf;
  color: #fff;
}

/* okr-detail */
.tl-drawer .okr-detail {
  padding: 0 0 30px 0;
}

.tl-drawer .okr-detail .el-tabs .el-tabs__content,
.tl-drawer .okr-detail .el-tabsel-tabs__nav-scroll {
  padding: 0 30px;
}

.okr-detail .img-list {
  padding: 0 0 0 6px;
}

.okr-detail .img-list dl {
  margin: 0 2px 10px 2px
}

.okr-detail .img-list dl:last-child {
  margin: 0 26px 10px 0;
  flex: 1;
  align-items: flex-end;
}

.okr-detail .img-list dl:last-child dd {
  margin: 0 6px 0 0;
}

.okr-detail .img-list .user-name .el-icon-d-arrow-left {
  transform: rotate(90deg);
  font-size: 16px;
}


/* =========================================================租户管理================================================================== */
/* OKR设置 */
.okr-permissions .operating-area {
  height: 36px;
}

.okr-permissions .dl-list {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #e5e9ee;
}

.okr-permissions .dl-list dt {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 600;
  color: #4d5155;
}

.okr-permissions .dl-list em {
  margin: 0 6px 0 0;
}

.okr-permissions .dl-list dd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.okr-permissions .tl-radio {
  margin: 0 0 16px 0;
}

/* OKR周期与自评 */
.okr-cycle .el-table__body .cell em {
  margin: 0 14px 0 0;
}

.okr-cycle .el-table__body .cell em + span {
  padding: 2px 4px;
  background: #f0effe;
  border-radius: 1px;
  font-size: 12px;
  color: #685df1;
}

.okr-cycle .tl-drawer .el-drawer__body {
  margin: 6px 0 0 0;
}
