body,
header,
footer,
section,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
input,
button,
select,
textarea,
p,
pre,
th,
td,
a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

i,
em {
  font-style: normal;
}

body,html,#talent {
  height: 100%;
}

body {
  background: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont,"微软雅黑","Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  cursor: default;
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: bottom;
}

a,
a:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover {
  color: #ff6f4b;
}

.a-reverse {
  color: #ff6f4b;
}

.a-reverse:hover {
  text-decoration: none;
}

.a-highlight {
  color: #1890ff;
}

.a-highlight:hover {
  color: #a3d3ff;
}

input,button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

input[type=text]::-ms-clear {
  display: none;
}

.cfx::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.break {
  word-wrap: break-word;
  /* word-break: break-all; */
}

input::-webkit-input-placeholder {
  color:#b6b6b6 !important;
}

input::-moz-placeholder {/* Mozilla Firefox 19+ */
  color:#b6b6b6 !important;
  opacity: 1;
}

input:-ms-input-placeholder {/* Internet Explorer 10-11 */ 
  color:#b6b6b6 !important;
}

input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute; 
  right: 0;
}

/* List样式 */
.horizontal-list {
  display: flex;
  
}

.horizontal-list li {
  align-self: center;
  margin-left: 30px;
}